


.contaner-1{
    border: black 4px solid;
    height: 70px;
    background-color: greenyellow ;
     
}

.contaner-2{
    border: black 4px solid;
    height: 70px;
    background-color: orange;
    margin-top: 10px;
}

.contaner-3{
    border: black 4px solid;
    height: 70px;
    background-color: wheat;
    margin-top: 10px;
}

.contaner-4{
    border: black 4px solid; 
    background-color: chartreuse;
}

.contaner-5{
    height: 100%px; 
    border: black 4px solid;
    background-color: cornflowerblue;margin: 10px ;
}

.contaner-6{
    border: black 4px solid; 
    background-color: orange;
}

.contaner-7{
    height: 100%px; 
    border: black 4px solid;
    background-color: cornflowerblue;margin: 10px ;
}

.contaner-8{
    border: black 4px solid; 
    background-color:blue;
}

.contaner-9{
    height: 100%px; 
    border: black 4px solid;
    background-color: cornflowerblue;margin: 10px ;
}


div {
    background-color: tomato;
}
/* 
اولویت ها - ترتیب


1- inline style
2- CSS Class
3- Selectors

 */