

.container-1 {
    height: 200px;
    border:black 3px solid;
    background-color: lightseagreen;
}


.container-2 {
    background-color: blue;
}


.container-3 {
    background-color: darkgreen;
    color:black;
}


.container-4{
    background-color: lightgreen; 
    height: 200px;

}

.container-5{
    background-color: blue; 
    color:white;
}

.container-6{
    background-color: lightgray; 
    color:blue;
}

.container-7{
    background-color: rgb(144, 174, 238); 
    height: 100px;
}

.container-8{
    background-color: rgb(0, 255, 0); 
    color:rgb(5, 0, 0);
}

.container-9{
    background-color: rgb(250, 7, 7); 
    color:blue;
}

.container-10{
    height: 200px; 
    border: black 3px solid;
    margin-bottom: 10px;
}

.container-11{
    height: 100%px; 
    border: black 3px solid;
    background-color: cornflowerblue;
}

.container-12{
    height: 200px ; 
    border: black 3px solid;
    margin-top: 10px;
}
